[abc-test]
aws_access_key_id = $(aws ssm get-parameter --region ${AWS_SSM_REGION} ${OPTIONS_SSM} --name /abc/test/deploy/user1/access-key --query 'Parameter.Value' --output text --with-decryption)
aws_secret_access_key = $(aws ssm get-parameter --region ${AWS_SSM_REGION} ${OPTIONS_SSM} --name /abc/test/deploy/user1/secret-key --query 'Parameter.Value' --output text --with-decryption)
